# Cache
.cache/

# Build
build/

######################################
## QtCreator
######################################

# Session
*.user

# Temporary
*.autosave

######################################
## CLion
######################################

# Session
*.idea

######################################
## VsCode
######################################

# Session
.vscode/*
